/* ROOT */
:root{
    --main-font-family: "Nunito Sans" , "Arial" , sans-serif; 
    --main-font-weight: 300; 
    --main-body-bg-color: #fafafa; 
    --main-text-color: #111517;
    --main-desc-color: #848484;
    --main-header-bg-color: #fff;
}