.countries {
    padding-bottom: 45px;
}

// .countries-list {
// }

// .countries-item {
// }

.countries-box {
    width: 264px;
    padding-bottom: 46px;
    background-color: var(--main-header-bg-color);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
}

// .countries-images {
// }

.countries-name {
    margin-top: 24px;
    padding-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    
    color: var(--main-text-color);
}

.countries-population {
    margin-bottom: 8px;
}

.countries-population-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}

.countries-population-description {
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}

.countries-region {
    margin-bottom: 8px;
}

.countries-region-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}

.countries-region-description {
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}

// .countries-capital {
// }

.countries-capital-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}

.countries-capital-description {
    font-size: 14px;
    line-height: 16px;
    color: var(--main-text-color);
}